/* Arts page related styles */

div.artworks-container{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 25px;
    box-sizing: border-box;
}

div.artworks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

div.artworks-container .page-heading{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

div.artworks-container .artwork-clip{
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 8px;
    border-radius: 2px;
    background-color: whitesmoke;
    margin: 0px auto 20px auto;
}

div.artworks-container .artwork-clip .posted-on{
    color: black;
    font-style: italic;
    font-size: 12px;
    margin: 6px 0px;
}

div.artworks-container .artwork-clip img{
    width: 320px;
    height: 320px;
}

/* About page related styles */

div.about-container{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 45px;
    box-sizing: border-box;
    color: black;
}

div.about-container .page-heading{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

div.about-container .about-image{
    text-align: center;
    margin: 40px 0px;
}

div.about-container img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

div.about-container .about-para{
    width: 320px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.5px;
}

div.about-container .fun-facts{
    margin-top: 20px;
}

div.about-container .fun-facts p{
    margin-bottom: 8px;
    font-weight: bold;
}

div.about-container .fun-facts ul li{
    width: fit-content;
    list-style: none;
    margin: auto;
    font-size: 15px;
}

/* Projects page related styles */

div.projects-container{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 25px;
    box-sizing: border-box;
}

div.projects-container .page-heading{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

div.projects-container .projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

div.projects-container .projects .project-clip{
    width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 2px;
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
    margin: auto;
}

div.projects-container .project-clip .posted-on{
    color: black;
    font-style: italic;
    font-size: 12px;
    margin: 6px 0px;
}

div.projects-container .project-clip img{
    width: 160px;
    height: 100%;
}  

div.projects-container .project-clip .detail-holder{
    padding: 10px;
}

div.projects-container .project-heading{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

div.projects-container .project-info{
    font-size: 14px;
    font-style: italic;
}

div.projects-container a{
    display: block;
    width: 50px;
    background-color: #800020;
    margin-top: 20px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}

/* Learnings page related styles */

div.learnings-container{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 40px;
    box-sizing: border-box;
}

div.learnings-container .learnings{
    width: 50%;
    margin: auto;
    text-align: center;
}

div.learnings-container .page-heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}

div.learnings-container .learnings li{
    list-style: none;
}

div.learnings-container .learnings a{
    width: 100%;
    text-decoration: none;
}


/* Blogs page related styles  */

div.blogs-container{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 40px;
    box-sizing: border-box;
}

div.blogs-container .page-heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}

div.blogs-container .blog-clip{
    max-width: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 2px;
    background-color: whitesmoke;
    margin: 0px auto 20px auto;
}

div.blogs-container .blog-clip .blog-heading a{
    color: black;
    text-decoration: none;
}

div.blogs-container a{
    display: block;
    width: 80px;
    background-color: #800020;
    margin-top: 20px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}

div.blogs-container .blog-clip .posted-on{
    color: black;
    font-style: italic;
    font-size: 12px;
    margin: 6px 0px;
}

div.single-blog-container{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 40px;
    box-sizing: border-box;
}

div.single-blog-container .blog-content{
    max-width: 700px;
    margin: auto;
}

div.single-blog-container .blog-post{
    margin: 10px 0px;
}

div.single-blog-container .blog-post .category{
    margin-bottom: 10px;
    font-size: 14px;
    font-style: italic;
}

div.single-blog-container .blog-post .date{
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
}

div.single-blog-container .content{
    line-height: 24px;
    border-top: 2px solid rgb(231, 228, 228);
    border-bottom: 2px solid rgb(231, 228, 228);
    padding: 20px 0px;
}

div.single-blog-container .content ul{
    margin: 20px 0px;
    background-color: rgb(241, 237, 237);
    padding: 5px;
}

div.single-blog-container .content ul li{
    margin-bottom: 5px;
    font-size: 14px;
}


@media screen and (max-width: 600px) {

    div.artworks{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    div.projects-container .projects{
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    div.projects-container .projects .project-clip{
        width: 280px;
    }

    div.projects-container .project-clip img{
        width: 120px;
        height: 100%;
    }  

    div.about-container .about-para{
        width: 250px;
    }

    div.artworks-container .artwork-clip img{
        width: 280px;
        height: 280px;
    }

}