div.homepage{
    width: 100%;
    background-color: black;
}

div.homepage-background{
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../images/portfolio-me-min.webp');
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
}